

/* Apply styles when the viewport width is 425px or less */
@media screen and (max-width: 275px) and (max-height: 643px) {
  /* body{
    overflow: hidden;
  } */
  .nav-links{
    display: none;
  }

  .home-img img{
    display: none;
  }
 
  .home-content h1{
    margin-top: 0px;
    font-size: 34px;
    padding: 0px 20px;
  }



}
