* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}


#dashbord{
  width: 100%;
  height: 100vh;
  background: black;
}


.userdata{
  width: 20vw;
  height: 100%;
  background: #262626;
}