* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html body {
  height: 100%;
  width: 100%;
  user-select: none;
  background-color: #121315;
}

.loging {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.google-btn {
  border-radius: 5px;
  border: 1px solid rgb(117, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.google-btn img {
  width: 15px;
}
.discord-btn {
  border-radius: 5px;
  border: 1px solid rgb(117, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.discord-btn img {
  width: 15px;
}
.github-btn {
  border-radius: 5px;
  border: 1px solid rgb(117, 117, 117);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.github-btn img {
  width: 15px;
}

.heading{
  text-align: center;
  line-height: 30px;
}

.heading h1{
  font-size: 24px;
}
@media screen and (max-width: 426px){
  .loging {
    padding: 30px;
  }
  .heading p{
    font-size: 12px;
  }
}
