@keyframes rotate{
  0%{
    transform: rotate(0eg);
  }
  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }
   75%{
    transform: rotate(270deg);
   }

  100%{
    transform: rotate(360deg);
  }
}


@keyframes move-right {
  from{
   transform: translateX(0);  
  }
  to{
    transform: translateX(-100%);
  }
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
  width: 100%;
}

.home-base{
  width: 100%;
  background-color: black;

}





header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  
}

.logo a {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; 
  padding: 15px 37px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 90px;
  box-shadow: 0 4px 30px rgba(255, 254, 254, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgba(59, 77, 94, 0.779);
  transition: 200ms;
}

.sign-in .sign-in-btn {
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 90px;
}

.sign-in .sign-in-btn:hover {
  background-color: #0056b3;
}

.centered-content {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(211, 216, 218);
}

.home-content{
  margin-bottom:10px;
  position: absolute;
  z-index: 2;
}

.home-img img{ 
  width: 200px;
  align-items: end;
  position: relative;
  z-index: 1;
  margin-top: 400px;
  margin-left: 1200px;
  /* animation:  rotate  linear  10s infinite; */
}

.home-content h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
}

.home-content p{
  margin-top: 30px;
  font-size: 16px;
  color: #87888A;
  font-family: "Rubik", sans-serif;
}



.text-gen{
  /* width: 60%;  */
  height: 9vh;
  /* margin-left: 80px;  */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.text-gen p {
  margin-bottom: 30px;
}

.text-gen .btn1 {
  padding: 7px 30px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.page2{
  width: 100%;
  height: 100vh;
  background-color: black;
}


.feature{
  width: 100%;
  height: 90vh;
  display: flex;

  align-items: center;
  justify-content: center;
  color: wheat;

}

.featur-opation{
  width: 50%;
  height: 100%;
}

.feature-heading{
  display: flex;
}
.feature-heading h3{
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.feature-heading h2{
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}


.featur-video{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.featur-video p {
  text-align: center;
  font-size: 19px;
}








.moving-text{
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
 
}

.moving-text::-webkit-scrollbar{
  display: none;
}

.con{ 
  margin-top: 30px;
  white-space: nowrap;
  display: inline-block;

  font-family: "Rubik", sans-serif;
  animation-name: move-right;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #ffffff;
}
.moving-text h1{
  font-size: 30px;
  margin-left: 50px;
  display: inline-block; 
  font-weight: 400;
  
}


.feature-heading {
  width: 60%;
  display: flex;
  flex-direction: column;
}


.text-gen{
  /* width: 60%;  */
  height: 9vh;
  /* margin-left: 80px;  */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}