*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
  width: 100%;
}

.home-base{
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #0e0d15, #100f18, #12111a, #14131c, #15151f, #15151f, #15151f, #15151f, #14131c, #12111a, #100f18, #0e0d15);

  background-color: black;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  
}

.logo a {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; 
  padding: 15px 37px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 90px;
  box-shadow: 0 4px 30px rgba(255, 254, 254, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgba(59, 77, 94, 0.779);
  transition: 200ms;
}

.sign-in .sign-in-btn {
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 90px;
}

.sign-in .sign-in-btn:hover {
  background-color: #0056b3;
}

.centered-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(211, 216, 218);
}

.home-content{
  margin-bottom:120px;
}

.home-content h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
}

.home-content p{
  margin-top: 30px;
  font-size: 16px;
  color: #87888A;
  font-family: "Rubik", sans-serif;
}


.bg-box{
  width: 50%;
  height: 30vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-color: rgba(255, 255, 255, 0.5);
  
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


.btn {
  padding: 15px 80px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}


.text-gen{
  /* width: 60%;  */
  height: 8vh;
  /* margin-left: 80px;  */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.text-gen p {
  margin-bottom: 30px;
}

.text-gen .btn1 {
  padding: 7px 30px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}