@keyframes rotate{
  0%{
    transform: rotate(0eg);
  }
  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }
   75%{
    transform: rotate(270deg);
   }

  100%{
    transform: rotate(360deg);
  }
}


@keyframes move-right {
  from{
   transform: translateX(0);  
  }
  to{
    transform: translateX(-100%);
  }
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
  width: 100%;
}

.home-base{
  width: 100%;
  background-color: black;

}





header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  
}

.logo a {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; 
  padding: 15px 37px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 90px;
  box-shadow: 0 4px 30px rgba(255, 254, 254, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgba(59, 77, 94, 0.779);
  transition: 200ms;
}

.sign-in .sign-in-btn {
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 90px;
}

.sign-in .sign-in-btn:hover {
  background-color: #0056b3;
}

.centered-content {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(211, 216, 218);
}

.home-content{
  margin-bottom:10px;
  position: absolute;
  z-index: 2;
}

.home-img img{ 
  width: 200px;
  align-items: end;
  position: relative;
  z-index: 1;
  margin-top: 400px;
  margin-left: 1200px;
  /* animation:  rotate  linear  10s infinite; */
}

.home-content h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
}

.home-content p{
  margin-top: 30px;
  font-size: 16px;
  color: #87888A;
  font-family: "Rubik", sans-serif;
}



.text-gen{
  /* width: 60%;  */
  height: 9vh;
  /* margin-left: 80px;  */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.text-gen p {
  margin-bottom: 30px;
}

.text-gen .btn1 {
  padding: 7px 30px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.page2{
  width: 100%;
  height: 100vh;
  background-color: black;
}


.feature{
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  color: wheat;

}

.feature-opation{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.feature-video{
  width: 50%;
  height: 100vh;
  background-color: rgb(165, 165, 122);
}

.feature-container{
   width: 70%;
   height: 70vh;
  display: flex;
  flex-direction: column;

}
.feature-btn1{
  display: flex;
  align-items: center;
}

.feature-btn1 .btn1{
  padding: 6px 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 500;
  margin-right: 20px;
}


.feature-btn1 .btn2{
  font-size: 20px;
  font-weight: 500;
}
.feature-btn2{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.feature-btn2 .btn1{
  padding: 6px 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 500;
  margin-right: 20px;
}


.feature-btn2 .btn2{
  font-size: 20px;
  font-weight: 500;
}

.feature-icon{
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color:  blue;
  border-radius: 50%;
  margin-right: 30px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
.feature-detail{
  width: 100%;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.feature-bottom {
  margin-top: 30px;
  padding: 14px;
  background-color: #007bff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
}







.moving-text{
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
 
}

.moving-text::-webkit-scrollbar{
  display: none;
}

.con{ 
  margin-top: 30px;
  white-space: nowrap;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  animation-name: move-right;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #ffffff;
}
.moving-text h1{
  font-size: 30px;
  margin-left: 50px;
  display: inline-block; 
  font-weight: 400;
  
}

.getstart-page{
  width: 100%;
  height: 100vh;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getstart-page p{
  color: #EC3B00;
  margin-bottom: 20px;
}
.getstart-page h1{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
  line-height: 45px;
}

.getstart-page h3{
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}

.getstart-hover-button{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color:black;
  border: 2px solid white;
  border-radius: 100px;
  padding: 15px 80px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s;

  font-size: 3.5rem;
  z-index: 1; /* Ensure text is above the overlay */
}
.getstart-hover-button:hover{
  color:black;
  box-shadow: 0 0 10px 3px #fefeff80;
}
.getstart-hover-button::before {
  content: "";
  position: absolute;
  top: 0;
  top: -100%; /* Start off-screen from the top */
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: left 0.4s;
  z-index: -1; /* Background overlay behind the text */
}

.getstart-hover-button:hover::before {
  top: 0; /* Move to the original top */
  left: 0; /* Move to the original left */
}


.freature {
  
  background-color: red;
}

