*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
  width: 100%;
}

.getstart-page{
  width: 100%;
  height: 100vh;
  background-color: #010101;
  color: rgb(255, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getstart-page p{
  color: wheat;
}
.getstart-page h1{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  
}

.getstart-btn button{
  padding: 20px 80px;
  font-size: 3rem;
  border-radius: 100px;
}

.getstart-page h3{
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}